<h1 mat-dialog-title>Учень</h1>
<div mat-dialog-content>
  <form [formGroup]="formConfig" novalidate (ngSubmit)="submit()">
    <mat-form-field class="forms-inputs">
      <input
        matInput
        value=""
        formControlName="lastname"
        placeholder="Прізвище"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="forms-inputs">
      <input
      matInput
      value=""
      formControlName="firstname"
      placeholder="Ім'я"
    />
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
      matInput
      value=""
      formControlName="patronymic"
      placeholder="По батькові"
    />
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
      matInput
      value=""
      type="date"
      formControlName="dateOfBirth"
      placeholder="Дата народження"
    />
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
      matInput
      value=""
      formControlName="classe"
      placeholder="Клас"
    />
    </mat-form-field>
    <br>
    <div class="btn-wrapper">
      <button class="dialog-button" (click)="submit()" mat-raised-button mat-dialog-close
              >Зберегти</button>
      <button class="dialog-button" mat-button mat-dialog-close>Закрити</button>
    </div>
  </form>
</div>
