<nav>
  <div class="menu-items menu-hidden">
    <div class="menu-item">
      <mat-icon>people</mat-icon>
      <a routerLink="/students">Учні
    </a>
    </div>
    <div class="menu-item">
      <mat-icon>person</mat-icon>
      <a>Вчителі</a>
    </div>
    <div class="menu-item">
      <mat-icon>class</mat-icon>
      <a routerLink="/classes">Класи</a>
    </div>
    <div class="menu-item">
      <mat-icon>import_contacts</mat-icon>
      <a routerLink="/subjectsr">Предмети R</a>
    </div>
    <div class="menu-item">
      <mat-icon>auto_stories</mat-icon>
      <a routerLink="/subjectsV">Предмети V</a>
    </div>
    <div class="menu-item">
      <mat-icon>try</mat-icon>
      <a routerLink="/mark-types">Типи оцінок</a>
    </div>
    <div class="menu-item">
      <mat-icon>turned_in_not</mat-icon>
      <a routerLink="/schedule">Розклад</a>
    </div>
  </div>
</nav>

