<nav class="menu-container" #sideNav>
  <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#" class="menu-item"><mat-icon>people</mat-icon>Учні
  </a>
  <a href="#" class="menu-item"><mat-icon>person</mat-icon>Вчителі
  </a>
  <a href="#" class="menu-item"><mat-icon>class</mat-icon>Класи
  </a>
  <a href="#" class="menu-item"><mat-icon>import_contacts</mat-icon>Предмети
  </a>
  <a href="#" class="menu-item"><mat-icon>turned_in_not</mat-icon>Розклад
  </a>
  <a href="#" class="menu-item"><mat-icon>try</mat-icon>Типи оцінок
  </a>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

</nav>

