.classes-form{
    width: 300px;
}

.classes-form-item{
    width: 100%;
}

.mat-radio-button{
    padding-right:5px ;
}

.btn-wrapper{
    padding-top: 30px;
    text-align: center;
}
.dialog-button{
    margin: 0 10px;
}

