<header class="header">
  <div class="header__container">
    <nav>
      <ul class="navbar">
        <li class="navbar__link-wrapper">
          <a class="navbar__link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>
        <li class="navbar__link-wrapper">
          <a class="navbar__link" routerLinkActive="active" routerLink="/schedule">
            Schedule
          </a>
        </li>
        <li class="navbar__link-wrapper">
          <a class="navbar__link" 
            routerLinkActive="active" 
            routerLink="/students">
            Students
          </a>
        </li>
        <li class="navbar__link-wrapper">
          <a
            class="navbar__link"
            routerLinkActive="active"
            routerLink="/subjectsr"
          >
            SubjectsR
          </a>
        </li>
        <li class="navbar__link-wrapper">
          <a
            class="navbar__link"
            routerLinkActive="active"
            routerLink="/subjectsV"
          >
            Subjects-V
          </a>
        </li>
      </ul>
      <button mat-raised-button color="primary">Логін</button>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>


