@import "../variables.scss";

button {
  background: $blue;
  color: #fff;
}

.edit__btn {
  display: none;
}

tr {
  line-height: 2.7;
  &:hover {
    .edit__btn {
      position: absolute;
      right: 5%;
      display: inline-block;
    }
  }
}

table {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.filter {
  display: block;
  margin: 0 auto;
  width: 45%;
}

@media (max-width: 600px) {
  table {
    width: 100%;
  }
}
