<div class="container">
  <mat-card routerLink="/students" class="green-background">
    <mat-card-header>
      <mat-card-title>Учні</mat-card-title>
    </mat-card-header>
    <mat-icon>school</mat-icon>
    <p class="total-number">{{pupilsAmount}}</p>
    <p class="subtitle">Загальна кількість учнів</p>
  </mat-card>

  <mat-card class="pink-background">
    <mat-card-header>
      <mat-card-title>Вчителі</mat-card-title>
    </mat-card-header>
    <mat-icon>account_circle</mat-icon>
    <p class="total-number">{{teachersAmount}}</p>
    <p class="subtitle">Загальна кількість вчителів</p>
    </mat-card>

  <mat-card class="blue-background">
    <mat-card-header>
      <mat-card-title>Класи</mat-card-title>
    </mat-card-header>
    <mat-icon>groups</mat-icon>
    <p class="total-number">{{classAmount}}</p>
    <p class="subtitle">Загальна кількість класів</p>
    </mat-card>

  <mat-card  routerLink="/subjectsr" class="brown-background">
    <mat-card-header>
      <mat-card-title>Предмети</mat-card-title>
    </mat-card-header>
    <mat-icon>calculate</mat-icon>
    <p class="total-number">{{subjectsAmount}}</p>
    <p class="subtitle">Загальна кількість предметів</p>
  </mat-card>

  <mat-card class="yellow-background">
    <mat-card-header class="title-center">
      <mat-card-title>Типи оцінок</mat-card-title>
    </mat-card-header>
    <mat-icon>grade</mat-icon>
  </mat-card>

  <mat-card routerLink="/schedule" class="violet-background">
    <mat-card-header class="title-center">
      <mat-card-title>Розклад</mat-card-title>
    </mat-card-header>
    <mat-icon>event_note</mat-icon>
  </mat-card>

</div>
