@import "../variables";

.classes{
    color: #000;
    margin: 0 auto; 
    width: 100%;
    
}
 .classes__wrapper{
    margin: 50px auto 0 auto;
    width: 100%;
}


table{
    width: 100%;
    padding: 0 20px;
}
.mat-header-cell{
    background-color: $blue;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}
.mat-cell{
    position: relative;
}

 table .mat-row:nth-child(odd){
     background-color: #e9e5e5;
 }

 table .mat-row:nth-child(even){
    background-color: #d6cfcf;
}

.btn-wrapper{
    text-align: center;
    padding-bottom: 30px;
}

button{
    margin: 30px auto 0 auto;
    background-color: $blue;
    color: #fff;
}

.edit-class-btn{
    width: 30px;
    height: 40px;
    margin: 2px 5px;
    position: absolute;
    right: 10px;
    top: 0; 
    background-color: $blue;   
}

.btn-editing-wrapper{
    display: none;
}

.mat-row:hover .btn-editing-wrapper{
display: block;
}

@media screen and (max-width: 695px) {
    .mat-header-cell{
        font-size: 15px;
    }

    table{
        padding: 0 5px;
    }
  }